@model IEnumerable<WebAppServices.Models.Classified>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Classified Personal Information</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-controller="Classified" asp-action="Create" class="btn btn-primary">
                <i class="fas fa-plus"></i> &nbsp; Create Classified Data
            </a>
        </div>
    </div>

    <br /><br />

    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Personal ID
                    </th>
                    <th>
                        FirstName
                    </th>
                    <th>
                        LastName
                    </th>
                    <th>
                        Gender
                    </th>
                    <th>
                        Age
                    </th>
                    <th>
                        Email
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model)
                {
                <tr>
                    <td width="10%">@obj.Id</td>
                    <td width="30%">@obj.FirstName</td>
                    <td width="30%">@obj.LastName</td>
                    <td width="20%">@obj.Gender</td>
                    <td width="10%">@obj.Age</td>
                    <td width="30%">@obj.Email</td>

                    <td class="text-center">
                        <div class="w-75 btn-group" role="group">
                            <a asp-controller="Classified" asp-route-Id="@obj.Id" asp-action="Edit" class="btn btn-primary mx-2">
                                <i class="fas fa-edit">Edit</i>
                            </a>
                            <a asp-controller="Classified" asp-route-Id="@obj.Id" asp-action="Delete" class="btn btn-danger mx-2">
                                <i class="far fa-trash-alt">Delete</i>
                            </a>
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p> No information exists.</p>
    }

</div>

